/* FILEPATH: /Users/szewahleong/Desktop/Szewah_Communications/style.css */

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility
}

html, body {
    height: 100%;
    margin: 0;

}

body {
    transition: background-color 0.1s ease;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  
  }


form {
    /* display: flex;
    flex-direction: row;
    align-items: left; */
}

input[type=email] {
    padding: 10px;
    height: 40px;
    /* width: 100%; */
    font: 2em;
    border: none;
    border-radius: 5px;
  }

  a{
    text-decoration: none;
    color: white;
  }

#myBtn {
    height: 40px;
    font-size: 1rem;
    color: white;
    background-color: #19747E;
    border: none;
    /* width: 50%; */
        font: 1em;
    -webkit-border-radius:0px;
        border-radius: 5px;
    
  }

@keyframes moveBox {
    to {
        transform: translateX(200px);
    }
}



.section {
    height: 100%;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    line-height: 1.5;
    width: 80%;
    margin: auto
}


.content {
    width: 60%;
    margin: auto
}


a {
    text-decoration: none;
    -webkit-text-fill-color: black;

}


/* Media queries for different device sizes */

/* Small devices (up to 576px) */
@media (max-width: 576px) {
    /* CSS rules for small devices */

    body {
        /* font-size: 20px; */
    }
    .content {
        width: 95%;
    }
    #form-center {
        width: 90%;
    }
    input[type=email] {
        width: 90%;
    }
    input[type=submit] {
        width: 40%;
    }
    p {
        font-size: 20px;
    }
    #form-center {
        width: 90%;
    }

}

/* Medium devices (between 576px and 768px) */
@media (min-width: 576px) and (max-width: 768px) {
    /* CSS rules for medium devices */
    body {
        /* font-size: 16px; */
    }
    #form-center {
        width: 90%;
    }
    input[type=email] {
        width: 80%;
    }
    input[type=submit] {
        width: 30%;
    }

}

/* Large devices (between 768px and 992px) */
@media (min-width: 768px) and (max-width: 992px) {
    /* CSS rules for large devices */
    body {
        /* font-size: 20px; */
    }
    #form-center {
        width: 80%;
    }
    input[type=email] {
        width: 80%;
    }
    input[type=submit] {
        width: 30%;
    }

}

/* Extra large devices (above 992px) */
@media (min-width: 992px) {
    /* CSS rules for extra large devices */
    body {
        font-size: 25px;
        /* font-size: calc(18px + 0.390625vw); */
    }

    #form-center {
        width: 70%;
    }
    input[type=email] {
        width: 70%;
    }
    input[type=submit] {
        width: 30%;
    }

}
