/* FILEPATH: /Users/szewahleong/Desktop/Szewah_Communications/style.css */

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility
}

html, body {
    height: 100%;
    margin: 0;

}

body {
    transition: background-color 0.1s ease;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  
  }



input[type=email] {
    padding: 10px;
    height: 40px;
    /* width: 100%; */
    font: 2em;
    border: none;
    border-radius: 5px;
  }

  a{
    text-decoration: none;
    color: white;
  }

#myBtn {
    height: 40px;
    font-size: 1rem;
    color: white;
    background-color: #19747E;
    border: none;
    /* width: 50%; */
        font: 1em;
    -webkit-border-radius:0px;
        border-radius: 5px;
    
  }

@keyframes moveBox {
    to {
        transform: translateX(200px);
    }
}



.section {
    height: 100%;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    line-height: 1.5;
    width: 80%;
    margin: auto
}


.content {
    width: 60%;
    margin: auto
}


a {
    text-decoration: none;
    -webkit-text-fill-color: black;

}


/* Media queries for different device sizes */



@media only screen and (min-width: 360px) {
    /* h1 {
      font-weight: 400;
      font-size: 50px;
    }
    h2 {
      font-size: 25px;
    }
    p {
        font-size: 20px;
    } */
    .content {
        width: 100%;
    }
  }




@media only screen and (min-width: 510px) {
    input[type=submit] {
        width: 30%;
    }
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 20px; 
    }
    .content{
        width: 95%;
    }

  }



@media only screen and (min-width: 610px){
    input[type=submit] {
        width: 30%;
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 25px; 
    }

    p {
       font-size: 19px;
    }
    .content{
        width: 90%;
    }
  }

@media only screen and (min-width: 768px) {
    input[type=submit] {
        width: 30%;
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 25px; 
    }

    p {
       font-size: 19px;
    }
    .content{
        width: 80%;
    }
}

@media  only screen and (min-width: 912px) {
    /* CSS rules for medium devices */
    input[type=submit] {
        width: 30%;
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 25px; 
    }

    p {
       font-size: 19px;
    }
    .content{
        width: 80%;
    }

}


@media only screen and (min-width: 1006px) {
    /* CSS rules for large devices */
    input[type=submit] {
        width: 30%;
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 30px; 
    }

    p {
       font-size: 25px;
    }
    .content{
        width: 80%;
    
     
}

@media only screen and (min-width: 1021px) {

    input[type=submit] {
        width: 30%;
    }
    h1 {
        font-size: 56px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 35px; 
    }

    p {
       font-size: 25px;
    }
    .content{
        width: 80%;
    }
    
}
